*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    /* color: #FFF; */
}
.main{
    max-width: 420px;
    /* width: 90%; */
    margin: 0 auto;
    border-radius: 8px;
    /* border: 1px solid; */
    /* padding: 1em 0em 1em 0; */
}
.row{
    display: flex;
}
.section{
    width: 90%;
    margin: 0 auto;
}
.section__1{
    padding-top: 0.5em;
    background-color:#3a3dbe;
    color: white;
    text-align: center;
    margin-bottom: 1em;
    min-height: 170px;
    border-radius: 10px;
    font-weight: 400;
    margin-top: 1em;
}
.section__1--row{
    justify-content: space-around;
}
h2{
    margin-bottom: 0;
    line-height: 2;
    font-size: 0.8rem;
    font-weight:600;
    font-family: "Poppins",sans-serif;
}
.balance__text{
    font-size: 2.25rem;
    margin: 0;
    font-weight: bolder;
}
.income,.expense{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 200px;
    overflow-y: auto;
}

ul:empty{
    border: 2px dashed #ddd;
    display: grid;
    place-content: center;
    /* min-height: 170px; */
}

ul:empty::before{
    content: attr(data-placeholder);
}
.list__item{
    /* width: 90%; */
    /* margin: 0 auto; */
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 0px;
    /* align-items: center; */
    /* flex:1; */
    /* border: 12px solid pink; */
}
.list__item--row{
    flex-grow: 1;
    /* width: 90%; */
}
.list__item:focus,.list__item:hover{
    border: 1px solid black;
    cursor: pointer;
}
.opacity{
    opacity: 0.5;
}
.position__date{
    position: relative;
    bottom: 1em;
    font-size: 0.8rem;
}
.value{
    margin-left: auto;
}
.value p {
    margin: 0;
}
h3{
    margin: 0;
}
.list__item + .list__item{
    margin-top: 0.5em
}
.para__date{
    opacity: 0.7;
}
.svg__container{
    flex-direction: column;
    margin: 0.1em;
    transform: scaleX(0);
    transition: all 200ms;
}
.svg__container svg{
    width: 1.3em;
    height: 1.3em;
    cursor: pointer;
}
.svg__container svg + svg{
    margin-top: 0.5em;
}
.list__item:hover .svg__container,.list__item:focus .svg__container{
    transform: scaleX(1);
    transform-origin: right;
}
/* .delete:focus,.delete:hover,.cross:focus,.cross:hover{
    fill:rgb(205, 92, 92);
    font-weight: bold;
    
}
.edit:focus,.edit:hover,.tick:focus,.tick:hover{
    fill:rgb(154, 205, 50);
    font-weight: bolder;
} */
.svg__container:hover .cross,.svg__container:focus .cross,.svg__container:hover .delete,.svg__container:focus .delete{
    fill:rgb(205, 92, 92);
    transform: scaleY(1.1 1.1);
}
.svg__container:hover .tick,.svg__container:focus .tick,.svg__container:hover .edit,.svg__container:focus .edit{
    fill:rgb(154, 205, 50);
}
.section__3--h2{
    padding: 0.1em 4.5em;
    margin: 0.5em;
    color: #FFF;
    border-radius: 16px;
}
.section__3--row{
    cursor: pointer;
}
.toggle__bgc--green{
    background-color:rgb(154, 205, 50); 
    border-radius: 4px;
}
.toggle__bgc--indianred{
    background-color: indianred;
    border-radius: 4px;
}
.toggle__bgc--white{
    background-color: white;
    border-radius: 4px;
    transition: 0.1;
    color: black;
    transition: all 100ms;
}

.form__text{
    margin: 0.5em 0 0em 0;
}
#name{
    width: 100%;
    padding: 0.8em;
}
#amount{
    width: 100%;
    padding: 0.7em;
}
#date{
    width: 100%;
    padding: 0.7em;
}


.form__row{
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    justify-content: space-between;

}

.form__col--1 {
    width: 25%;
    /* border: 1px solid; */

}
.form__col--2{
    width: 70%;
}
.submit{
    width: 100%;
    background-color:#3a3dbe ;
    color: #FFF;
    padding: 1em ;
    border-radius: 4px ;
    border: none;
    content: "hello";
}
.submit:focus,.submit:hover{
    background-color: #2a2d9e;
    cursor: pointer;
}
.toggle__submit--pointer{
    pointer-events: none;
    opacity: 0.5;
}
.toggle__submit--container{
    cursor: not-allowed;
}
.pointer__events--none{
    pointer-events: none;
}
/* color:rgb(205, 92, 92); */
/* color:rgb(154, 205, 50); */